[submodule "01-fundamentals/06-html-e-css-forms-flexbox-e-responsivo/03-css-flexbox-parte-1/exercise-tech-gallery"]
	path = 01-fundamentals/06-html-e-css-forms-flexbox-e-responsivo/03-css-flexbox-parte-1/exercise-tech-gallery
	url = https://github.com/gugadolzan/exercise-tech-gallery
[submodule "02-front-end/12-componentes-com-estado-eventos-e-formularios-com-react/01-componentes-com-estado-e-eventos/exercise-pokedex-state"]
	path = 02-front-end/12-componentes-com-estado-eventos-e-formularios-com-react/01-componentes-com-estado-e-eventos/exercise-pokedex-state
	url = https://github.com/gugadolzan/exercise-pokedex-state
[submodule "02-front-end/15-testes-automatizados-com-react-testing-library/01-rtl-primeiros-passos/exercise-todo-list"]
	path = 02-front-end/15-testes-automatizados-com-react-testing-library/01-rtl-primeiros-passos/exercise-todo-list
	url = https://github.com/gugadolzan/exercise-todo-list
[submodule "02-front-end/15-testes-automatizados-com-react-testing-library/01-rtl-primeiros-passos/exercise-tic-tac-toe"]
	path = 02-front-end/15-testes-automatizados-com-react-testing-library/01-rtl-primeiros-passos/exercise-tic-tac-toe
	url = https://github.com/gugadolzan/exercise-tic-tac-toe
[submodule "02-front-end/15-testes-automatizados-com-react-testing-library/02-rtl-mocks-e-inputs/exercise-digimon-finders"]
	path = 02-front-end/15-testes-automatizados-com-react-testing-library/02-rtl-mocks-e-inputs/exercise-digimon-finders
	url = https://github.com/gugadolzan/exercise-digimon-finders
[submodule "02-front-end/15-gerenciamento-de-estado-com-redux/02-usando-o-redux-no-react/exercise-react-with-redux-intro"]
	path = 02-front-end/15-gerenciamento-de-estado-com-redux/02-usando-o-redux-no-react/exercise-react-with-redux-intro
	url = https://github.com/gugadolzan/exercise-react-with-redux-intro
[submodule "02-front-end/15-gerenciamento-de-estado-com-redux/03-usando-o-redux-no-react-pratica/exercise-forms-redux"]
	path = 02-front-end/15-gerenciamento-de-estado-com-redux/03-usando-o-redux-no-react-pratica/exercise-forms-redux
	url = https://github.com/gugadolzan/exercise-forms-redux
