* {
  font-family: sans-serif;
}

body {
  background-color: rgb(216, 228, 255);
  color: rgb(0, 18, 11);
  margin: auto;
  width: 75%;
}

h1 , h2 , h3 {
  color: rgb(53, 96, 90);
}

article {
  text-align: center;
}

.references {
  text-align: left;
}

.image {
  width: 300px;
  border-radius: 5%;
  border: rgb(49, 233, 129) solid;
}

.navigation {
  padding-left: 0;
}

.navigation li {
  display: inline;
}

.navigation li a {
  color: rgb(0, 18, 11);
  text-decoration: none;
}

.button {
  background-color: rgb(49, 233, 129);
  border-radius: 20px;
  border: rgb(49, 233, 129) solid 10px;
  color: rgb(0, 18, 11);
  float: right;
  text-decoration: none;
  /* position: absolute; */
}

footer {
  margin-top: 55px;
}

table {
  margin: auto;
  text-align: left;
}